<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    <!-- 定义一个bean id：bean的唯一标识，可以通过这个标识从容器中获取这个bean对象 class：这个bean的类型，完整类名称 -->
    <bean id="helloWorld" class="com.example.demo.HelloWorld"/>
    <bean id="serviceA" class="com.example.demo.ServiceA" scope="prototype"/>
    <bean id="serviceBMethodReplacer" class="com.example.demo.ServiceBMethodReplacer"/>
    <bean id="serviceB" class="com.example.demo.ServiceB">
<!--        <lookup-method name="getServiceA" bean="serviceA"/>-->
        <replaced-method name="setServiceA" replacer="serviceBMethodReplacer"/>
    </bean>
    <!--<bean id="baseService" abstract="true">
        <property name="name" value="ZL"/>
        <property name="serviceA" ref="serviceA"/>
    </bean>
    <bean id="serviceB" class="com.example.demo.ServiceB" parent="baseService"/>
    <bean id="serviceC" class="com.example.demo.ServiceC" parent="baseService"/>-->
</beans>